{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "ie >= 11",
            "android >= 4.0", 
            "ios >= 8"
          ]
        },
        "debug": true
      }
    ]
  ]
}
